/**
 * @author Shawntaria Burden, Sebastian Fierros, Ethan Edmond, Tyler Daniel
 */

input, label {
    color: black;
}

.RequestForm {
    padding: 0px 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: max-content;
    border-radius: 10px;
}
.Input label{
    margin-right: 4px;
}

.RequestFormHeader{
    color: white;
    font-weight: 500;
}

.Input{
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border-radius: 2px;
}

#submit-request{
    padding: 5;
    width: 100%;
    color: black;
}